.button.mt-1
    display: inline-block
    padding: 10px 20px
    border-radius: 5px
    text-decoration: none
    transition: all 0.3s ease
    background-color: rgb(219, 110, 52)
    color: white
    border: 2px solid rgb(219, 52, 52)

    &:hover
        background-color: rgb(207, 39, 39)
        border-color: darken(#3498db, 10%)
        transform: translateY(-2px)
        box-shadow: 0 4px 6px rgba(0,0,0,0.1)

    &:active
        transform: translateY(1px)
        box-shadow: 0 2px 4px rgba(0,0,0,0.1)

.excerpt_more.button
    display: inline-block
    text-decoration: none
    background-color: rgb(207, 39, 39)
    color: white
    padding: 6px 12px
    border-radius: 4px
    transition: all 0.3s ease

    &:hover
        background-color: rgb(207, 39, 39)
        color: white
        transform: translateY(-2px)
        box-shadow: 0 2px 4px rgba(202, 76, 27, 0.1)

    &:active
        transform: translateY(1px)
        box-shadow: 0 1px 2px rgba(0,0,0,0.1)